:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

*,
button,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  border: none;
}
